name: CI-CD

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init and Apply
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve

      - name: Login to Azure Container Registry
        run: |
          az acr login --name sanjitshopacr2026

      - name: Build Docker Image
        run: |
          cd app
          docker build -t sanjitshopacr2026.azurecr.io/shopping-app:latest .

      - name: Push Docker Image to ACR
        run: |
          docker push sanjitshopacr2026.azurecr.io/shopping-app:latest

    