name: CI-CD

on:
  push:
    branches: [ master ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Build and Push Docker Image
      run: |
         cd app
    docker build -t shopping-app .

    - name: Terraform Apply
      run: |
        cd terraform
        terraform init
        terraform apply -auto-approve
